@import "tailwindcss";

@theme {
  --color-bg: #0A0A0A;
  --color-surface: #141414;
  --color-surface-2: #1C1C1C;

  --color-border: #27272A;

  --color-text: #FFFFFF;
  --color-text-secondary: #A1A1AA;

  --color-primary: #FFFFFF;

  --radius-card: 1rem;
}
/* Chrome */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d #090909;
}